[submodule "deploy"]
	path = deploy
	url = git@github.com:para-space/paraspace-deploy.git
[submodule "lib/pnm-contracts"]
	path = lib/pnm-contracts
	url = https://github.com/PwnedNoMore/pnm-contracts
	branch = v0.2.13
